<% include ./partials/header %>

<div class="jumbotron top">
	<div class="container">
		<h1 class="display-4">Equipment for Sale and Rental Services!</h1>
  		<p class="lead">To build a safe, profitable, competitive customer centered equipment sales and rental services.</p>
  		<hr class="my-4">
  		<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  		<a class="btn btn-primary btn-lg" href="#" role="button">Browse Equipment</a>
	</div>
</div>


<a href="/landing">Go to Landing Page!</a>

<% include ./partials/footer %>